body {
    background-color: #98bad5;
  }
  
  #search-bar {
    margin: 50px 0 0 650px;
    padding: 10px;
  }
  
  .search-bar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #search-button {
    padding: 8px 16px;
    background-color: green;
    color: white;
  }
  
  .book-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .book-card {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    h3 {
      margin-top: 0;
    }
  
    p {
      margin-bottom: 5px;
    }
  }